BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Allman
PointerAlignment: Left
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
IndentCaseLabels: true
SpaceBeforeParens: ControlStatements
BreakBeforeBinaryOperators: NonAssignment
